body {
    font-family: Arial, sans-serif;
    background: linear-gradient(150deg, #07024d, #3a1c71, #ff6ec4);
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.container {
    max-width: 800px;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
}

.profile-img {
    float: right;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.profile-img-container {
    position: absolute;
    right: 20px;
    top: 4px;
    width: 135px;
    height: 135px;
    background: linear-gradient(150deg, #07024d, #3a1c71, #ff6ec4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.contact-icons {
    background: linear-gradient(150deg, #07024d, #3a1c71, #ff6ec4);
    padding: 10px;
    border-radius: 25px;
    display: inline-flex;
    gap: 25px;
}
.contact-icons a {
    color: white; 
    font-size: 24px;
}


.contact-logo:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: square;
}

a {
    color: #07024d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bts-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 20px auto; 
    border-radius: 10px;
}


.bts-image {
    float: left;
    width: 300px; 
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
}

.image-container::after {
    content: "";
    display: table;
    clear: both;
}
